#1. What are data structures, and why are they important

Data structures are methods of organizing, storing, and managing data so it can be accessed and modified efficiently—they include arrays, lists, stacks, trees, hash tables, and more. They’re crucial because choosing the right structure impacts performance, memory use, and overall efficiency in solving problems.
________________________________________
#2. Explain the differance between Mutable vs. Immutable Data Types with examples?

•	Mutable objects can be changed after creation (e.g., lists, dictionaries, sets).
•	Immutable objects cannot be altered once created (e.g., tuples, strings, integers)
________________________________________
#3. What are the main Differences Between Lists and Tuples in python?

Feature         	List	         Tuple

Syntax	           []	             ()

Mutability    	 Mutable	      Immutable

Methods	       .append(),        .pop()	      No modification methods
________________________________________
#4. Describe how Dictionaries Store Data

Dictionaries use a hash table internally, mapping unique, hashable keys to values. Keys are hashed to find their corresponding value quickly—achieving average O(1) lookup time
________________________________________
#5. Why Use a Set instead of a List

•	Sets store unique, unordered items—duplicates are automatically removed .
________________________________________
#6. What is a String in Python, and How is It Differs from a List

Strings are sequences of characters—immutable, and typically used for text. Unlike lists, strings:
•	Are immutable, so can't be altered in place.
•	Support slicing and indexing but don't support .append() or .remove()
________________________________________
#7. How Tuples Ensure Data Integrity in python

Since they’re immutable, once created, their content can't be changed.
________________________________________
#8. What is a Hash Table, and How It Relates to
   Dictionaries in python

A hash table stores key-value pairs by hashing keys to indices.
________________________________________
#9. Can Lists Contain Different Data Types in pyhton

Yes! Lists can hold mixed types—e.g.,( integers, strings, objects)—all in the same list
________________________________________
#10.Explan Why Strings Are Immutable in python

Strings are immutable to:
•	Improve efficiency through interning and memory reuse,
•	Enhance thread-safety, and
•	Simplify reasoning about behavior
________________________________________
#11. What advantages do dictionaries offer over lists for certain tasks

•	Fast key-based access (O(1)),
•	unique keys to values,
________________________________________
#12.  Describe a scenario where using a tuple would be preferable over a list

•	You want fixed data that shouldn’t change,
•	You need a hashable sequence (e.g., as dict keys),
•	Or when the data is small and unchanging, such as (x, y) coordinate pairs
________________________________________
#13. How do sets handle duplicate values in Python

Sets automatically discard duplicates, keeping only one instance of each value
________________________________________
#14. How does the “in” keyword work differently for lists and dictionaries

•	Lists: x in list checks each element in O(n)
•	Dictionaries: key in dict checks keys via hash in O(1)
________________________________________
#15. Can you modify the elements of a tuple? Explain why or why not

No—tuples are immutable, so cannot change, add, or remove elements.
________________________________________
#16. What is a nested dictionary, and give an example of its use case

A dictionary with dictionaries as values:
people = {
         "alice": {"age": 30, "city": "NY"},
         "bob": {"age": 25, "city": "LA"}
         }
________________________________________
#17. Describe the time complexity of accessing elements in a dictionary

Accessing, inserting, or deleting a key is O(1) on average—due to its hash table implementation
________________________________________
#18.In what situations are lists preferred over dictionaries

•	When you need ordered sequences with duplicates,
•	For indexed access (e.g., list[3]),
•	Or to maintain order of elements by position, rather than key-based lookup.
________________________________________
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?

•	Historically, dicts didn’t guarantee ordering, though from Python 3.7+ they maintain insertion order—but semantically keys aren't ranked.
•	You can’t rely on natural sorting or key order unless explicitly sorted.
Effect: to iterate in sorted order, you must sort keys first.
________________________________________
#20. Explain the difference between a List and a Dictionary in Terms of Data Retrieval

•	Lists: Retrieve by position index (e.g., list[2]), O(1). Searching by value is O(n).
•	Dictionaries: Retrieve by key (e.g., dict["key"]), O(1) average, without needing position.

In [ ]:
#1. Write a code to create a string with your name and print it

name="Soujit bakshi"
print(name)

Soujit bakshi

In [ ]:
#2. Write a code to find the length of the string "Hello World"

n="Hellow World"
print(len(n))

12

In [ ]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming"

print("Python Programing"[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

print("hello".upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

f="i like apple"
print(f.replace("apple","orange"))

i like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it

a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

a=[1,2,3,4,]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

a=[1,2,3,4,5]
a.remove(3)
print(3)

3

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

v=['a', 'b', 'c', 'd']
print(v[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

p=[10, 20, 30, 40, 50]
print(p)
print(p[::-1])
#use reverse method
p.reverse()
print(p)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

a=(100,200,300)
print(a,type(a))

(100, 200, 300) <class 'tuple'>

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

h=('red', 'green', 'blue', 'yellow')
print(h[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

s=(10, 20, 5, 15)
print(min(s))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

f=('dog', 'cat', 'rabbit')
print(f.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit= ('apple', 'banana','kiwi' )
print('kiwi' in fruit)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
element={'a','b','c'}
print(element , type(element))

{'b', 'c', 'a'} <class 'set'>

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

e={1, 2, 3, 4, 5}
e.clear()
print(e)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}..

f={1, 2, 3, 4}
f.remove(4)
print(f)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d={"name":"Soujit Bakshi", "age":22,"city":"BUrdwan"}
print(d , type(d))

{'name': 'Soujit Bakshi', 'age': 22, 'city': 'BUrdwan'} <class 'dict'>

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d={'name': 'John', 'age': 25}
c={"country": "USA" }
d.update(c)
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d={'na': 'Alice', 'age': 30}
print(d['na'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age'] #or d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}..

h={'name': 'Alice', 'city': 'Paris'}
print('city' in h)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list,type(my_list))
print(my_tuple,type(my_tuple))
print(my_dict,type(my_dict))

[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[15, 53, 63, 64, 81]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

str_list = ["apple", "banana", "cherry", "date", "fig"]
print(str_list[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

#using union method
dic = {'a': 1, 'b': 2}
dict1= {'b': 3, 'c': 4}
merged_dict = dic | dict1
print(merged_dict)

# #using update method
#    dict3= {'a': 1, 'b': 2}
#    dict4= {'b': 3, 'c': 4}
#    dict1.update(dict2)
#    print(dict1)

# #using ** operator

#    dict5= {"a": 1, "b": 2}
#    dict6= {"c": 3, "d": 4}
#    combined = {**dict1, **dict2}
#    print(combined)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#30. Write a code to convert a list of strings into a set.

str_list = ["apple", "banana", "cherry", "apple"]
str_set = set(str_list)
print(str_set,type(str_set))

{'cherry', 'apple', 'banana'} <class 'set'>